<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container mt-5">

    <h1 class="mb-4">
        Área de Pedidos
    </h1>

    <form>

        <div class="mb-3">
            <label class="form-label">Nome</label>

            <input
                type="text"
                class="form-control"
                placeholder="Digite seu nome"
            >
        </div>

        <div class="mb-3">

            <label class="form-label">
                Escolha seu pedido
            </label>

            <select class="form-select">
                <option>Pastel de Frango</option>
                <option>Cachorro Quente</option>
                <option>Milkshake</option>
                <option>Batata Frita</option>
                <option>Hambúrguer</option>
            </select>

        </div>

        <button class="btn btn-danger">
            Finalizar Pedido
        </button>

    </form>

</div>

</body>
</html>