{% extends 'base1.html' %}

{% block titulo %}
Página Inicial
{% endblock %}

{% block conteudo %}

<section class="container">

    <h2>Bem-vindo à NovaTech Academy</h2>

    <p>
        A NovaTech Academy é uma escola técnica voltada para
        a formação profissional de alunos nas áreas de tecnologia,
        programação e inovação.
    </p>

    <p>
        Nosso objetivo é preparar estudantes para o mercado de
        trabalho através de cursos modernos e professores especializados.
    </p>

</section>

{% endblock %}