{% extends 'base1.html' %}

{% block titulo %}
Professores
{% endblock %}

{% block conteudo %}

<section class="container">

    <h2>Equipe de Professores</h2>

    <div class="card">
        <h3>Lucas Almeida</h3>
        <p>Professor de Desenvolvimento Web</p>
    </div>

    <div class="card">
        <h3>Fernanda Costa</h3>
        <p>Professora de Banco de Dados</p>
    </div>

    <div class="card">
        <h3>Ricardo Lima</h3>
        <p>Professor de Redes de Computadores</p>
    </div>

</section>

{% endblock %}